{% extends "template2.html" %}
{% comment %}
	Logged in landing page or home page
{% endcomment %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}
	
	<br><div class="hero-unit">
		<h1>Welcome</h1>
			<p>Navigate.... </p>
			<p>Say stuff here..</p>
		</h1>			
	</div>

	<div class="row">
        <div class="span4">
			<h2>Scan</h2>
				<p>Begin by scanning a faculty record, and uploading it to the database.</p>
				<p><a class="btn" href="/scanpage/">Scan &raquo;</a></p>
            </div>
            <div class="span4">
				<h2>Profile</h2>
				<p>View and update a faculty profile.</p>
				<p><a class="btn" href="/users/">View profile &raquo;</a></p>
            </div>
            <div class="span4">
				<h2>Records</h2>
				<p>View, download, and print faculty records.</p>
				<p><a class="btn" href="#">Records &raquo;</a></p>
            </div>
        </div>	

{% endblock %}