{% extends "base.html" %}
{% comment %}
	Base template when logged in
{% endcomment %}

{% block head %}
    <title>DCS Archiving System</title>
    <style type="text/css">
        .template_body
        {
            padding-top:40px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <ul class="nav pull-right">
            <a class="btn btn-primary" href="/dashboard/">Home</a>
            <a class="btn btn-primary" href="/users/">View Users</a>
            <a class="btn btn-primary" href="/logout/">Log out</a>
        </ul>
        </div>
    </div>
    <div class="container">
    <p class="template_body">
    {% block content %}{% endblock %}
    </p>
	
    <footer>
        <br>
        <span class="pull-right">&copy; DCS Archiving System 2012</span>
    </footer>
    </div>


{% endblock %}