{% extends "base.html" %}
{% comment %}
This is the main template for all public pages.
{% endcomment %}

{% block head %}
    <title>DCS Archiving System</title>
    <style type="text/css">
        .template_body
        {
            padding-top:40px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class = "container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
			</div>
			<a class="brand" href="#">DCS Archiving System</a>
            <div class="nav-collapse nav-collapse_  collapse">
				<ul class="nav pull-right">
					<li class=""><a href="/signup/">Sign Up</a></li>
					<li class=""><a href="/admin/">Login as Admin</a></li>
				</ul>
			</div>
		</div>
    </div>
	    <div class="container">
		<br><p class="template_body">
		<div class="hero-unit">
			<div class = "span">{% load static %} <img src="{% static "images/head.png" %}"/></div>
			<center><h5>For the management of files and transactions of the faculty of the Department of Computer Science in UP Diliman.</h5></center>
		    <center><form action="." method="post" class = "form-inline"> {% csrf_token %}
				<input class="input-medium" type="text" name="username" placeholder="Username"/>
				<input class="input-medium" type="password" name="password" placeholder="Password" value="" />
				<button class="btn btn-primary" type="submit">Log in</button>
				<div><label>{{ state }}</label></div>
			</form></center>
		</div>

    {% block content %}
	
	{% endblock %}
    </p>

    <footer>
        <br>
        <span class="pull-right">&copy; DCS Archiving System 2012</span>
    </footer>
    </div>
{% endblock %}